{{!-- <body> --}}
<div class="header">
    {{!-- <div class="logo"> --}}
    <a href="http://coproductions.com>">
        <img src="../images/coproductions_logo.png" alt="Coproductions logo" />
    </a>
    {{!-- </div> --}}

    <a class="nav" href=" https://www.coproductions.com/">Home</a>
    <a class="nav" href="https://www.coproductions.com/start-your-project/">Start Your Project</a>
    <a class="nav" href="/">Sign Up</a>
    <a class="nav" href="https://www.coproductions.com/about/">About</a>
    <a class="nav" href="https://www.coproductions.com/faq/">FAQ</a>
    <a class="nav" href="https://www.coproductions.com/contact-us/">Contact Us</a>

</div>
<main>
    <div class="intro">
        <h1>Sign Up</h1>
        <p>
            If you’re an accomplished marketing professional that wants more business, sign up below to become part
            of
            the Coproductions network. Whether you’re part of a small firm or a freelancer, we’ll confirm your
            experience
            and then send project opportunities that match your skills. And if you’re looking for teammates, we can
            help
            with that too.</p>
    </div>
    <div class="columns">
        <div class="column">
            <h4>NO UP-FRONT COST</h4>
            Some sites charge workers or firms up-front to participate. But we at Coproductions don’t think the
            clients
            should be the ones paying to find you.
        </div>

        <div class="column">
            <h4>NO OBLIGATION</h4>
            Signing up for the network doesn’t mean you surrender any control over how you’d like to work or with
            whom.
            It just means you’ll find out about projects, and you decide which to pursue.
        </div>

        <div class="column">
            <h4>YOU SET YOUR OWN RATES</h4>
            We’ll tell you the client’s budget, but what you bid for a project is up to you. You know what your time
            is
            worth, and clients are still saving over agency rates, so charge what is fair.
        </div>
    </div>
    <div class="form container">

        <form action="/" method="POST" accept-charset="utf-8">
            <div>
                <label for="firstName">First Name:</label>
                <input type="text" name="firstName" id="firstName">

                <label for="lastName">Last Name:</label>
                <input type="text" name="lastName" id="lastName">
            </div>
            <div>
                <label for="photo">Profile photo (link):</label>
                <input type="text" name="photo" id="photo">
            </div>
            <div>
                <label for="skillsReported">Your professional skills:</label>
                <input type="text" name="skillsReported" id="skillsReported">
            </div>
            <div>
                <label for="yearsExperience">Years of experience:</label>
                <input type="number" name="yearsExperience" id="yearsExperience">
            </div>
            <div>
                <label for="complementarySkills">Professional skills that complement your own:</label>
                <input type="text" name="complementarySkills" id="complementarySkills">
            </div>
            <div>
                <label for="connections.referredBy">Who referred you to Coproductions?:</label>
                <input type="text" name="connections.referredBy" id="connections.referredBy">
            </div>
            <div>
                <label for="connections.recommended">Can you recommend other agencies or freelancers you would work
                    with?:</label>
                <input type="text" name="connections.recommended" id="connections.recommended">
            </div>
            <div>
                <label for="contactInfo.email">Your Email(s):</label>
                <input type="text" name="contactInfo.email" id="contactInfo.email">

                <label for="contactInfo.phoneNum">Your Phone Number(s):</label>
                <input type="text" name="ontactInfo.phoneNum" id="contactInfo.phoneNum">
            </div>
            <div>
                <label for="contactInfo.streetAddress">Your Street Address (mailing):</label>
                <input type="text" name="contactInfo.streetAddress" id="contactInfo.streetAddress">

                <label for="contactInfo.city">Your City:</label>
                <input type="text" name="contactInfo.city" id="contactInfo.city">

                <label for="contactInfo.state">Your State:</label>
                <input type="text" name="contactInfo.state" id="contactInfo.state">

                <label for="contactInfo.zip">Your Zip:</label>
                <input type="text" name="contactInfo.zip" id="contactInfo.zip">
            </div>
            <div>
                <label for="availability">Your Availability:</label>
                <input type="text" name="availability" id="availability">

                <label for="hourlyRate">Your standard hourly rate:</label>
                <input type="text" name="hourlyRate" id="hourlyRate">
            </div>
            <div>
                <label for="urls.linkedIn">Your LinkedIn profile link:</label>
                <input type="text" name="urls.linkedIn" id="urls.linkedIn">
            </div>
            <div>
                <label for="urls.portfolio">Your portfolio link:</label>
                <input type="text" name="urls.portfolio" id="urls.portfolio">
            </div>
            <div>
                <label for="urls.other">Any other links demonstrating your skills or experience:</label>
                <input type="text" name="urls.other" id="urls.other">
            </div>

            <input type="submit" value="Save & Submit">
        </form>
    </div>

</main>
{{!-- </body> --}}