<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Chivo:400,900,900i,400i%7CMontserrat:700%7CWork+Sans:400"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CWork+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <title>Coproductions Member Sign Up</title>
</head>

<body>
    {{{body}}}
</body>

</html>