<body>
    <div class="header">
        {{!-- <div class="logo"> --}}
        <a href="http://coproductions.com>">
            <img src="../images/coproductions_logo.png" alt="Coproductions logo" />
        </a>
        {{!-- </div> --}}

        <a class="nav" href=" https://www.coproductions.com/">Home</a>
        <a class="nav" href="https://www.coproductions.com/start-your-project/">Start Your Project</a>
        <a class="nav" href="#">Sign Up</a>
        <a class="nav" href="https://www.coproductions.com/about/">About</a>
        <a class="nav" href="https://www.coproductions.com/faq/">FAQ</a>
        <a class="nav" href="https://www.coproductions.com/contact-us/">Contact Us</a>

    </div>
    <main>

    </main>
</body>