<body>
    <header>
        {{!-- <div class="logo"> --}}
        {{!-- <a href="http://coproductions.com>"> --}}
        <img src="../images/coproductions_logo.png" alt="Coproductions logo" width="200px" />
        {{!-- </a> --}}
        {{!-- </div> --}}
        <nav>
            <ul>
                <li><a href=" https://www.coproductions.com/">Home </a> </li>
                <li><a href="https://www.coproductions.com/start-your-project/">Start Your Project</a></li>
                <li><a href="#">Sign Up</a></li>
                <li><a href="https://www.coproductions.com/about/">About</a></li>
                <li><a href="https://www.coproductions.com/faq/">FAQ</a></li>
                <li><a href="https://www.coproductions.com/contact-us/">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="form container">

            <form action="/" method="POST" accept-charset="utf-8">
                <label for="firstName">First Name:</label>
                <input type="text" name="firstName">

                <label for="lastName">Last Name:</label>
                <input type="text" name="lastName">

                <label for="photo">Profile Photo:</label>
                <input type="text" name="photo">

                <label for="skillsReported">Your Professional Skills:</label>
                <input type="text" name="skillsReported">

                <label for="yearsExperience">Years of Experience:</label>
                <input type="number" name="yearsExperience">

                <label for="complementarySkills">Professional Skills That Complement Your Own:</label>
                <input type="text" name="complementarySkills">

                <label for="referredBy">Who Referred You to Coproductions?:</label>
                <input type="text" name="referredBy">

                <label for="recommended">Can you recommend other agencies or freelancers you would work with?:</label>
                <input type="text" name="recommended">

                <label for="email">Your Email(s):</label>
                <input type="text" name="email">

                <label for="phoneNum">Your Phone Number(s):</label>
                <input type="text" name="phoneNum">

                <label for="streetAddress">Your Street Address (mailing):</label>
                <input type="text" name="streetAddress">

                <label for="city">Your City:</label>
                <input type="text" name="city">

                <label for="state">Your State:</label>
                <input type="text" name="state">

                <label for="zip">Your Zip:</label>
                <input type="text" name="zip">

                <label for="availability">Your Availability:</label>
                <input type="text" name="availability">

                <label for="hourlyRate">Your standard hourly rate:</label>
                <input type="text" name="hourlyRate">

                <label for="linkedIn">Your LinkedIn profile link:</label>
                <input type="text" name="linkedIn">

                <label for="portfolio">Your portfolio link:</label>
                <input type="text" name="portfolio">

                <label for="other">Any other links demonstrating your skills or experience:</label>
                <input type="text" name="other">

                <input type="submit" value="Save & Submit">
            </form>
        </div>

    </main>
</body>