body {
  font-family: 'Work Sans', sans-serif;
}

/* header */
.header {
  /* margin: 20px 10px; */
  display: flex;
  align-items: center;
}

.header > a > img {
  width: 225px;
  /* float: left; */
  align-content: flex-start;
}

.header > .nav {
  /* float: right; */
  justify-content: right;
  /* flex-flow: row wrap; */
  /* text-align: center; */
  /* margin: 12px 5px 0 0; */
  padding: 12px;
  text-decoration: none;
  font-size: 14px;
  line-height: 25px;
  border-radius: 4px;
  color: rgb(69, 191, 180);
}

/* body */
main {
  align-content: center;
  margin: 0 20px 0 20px;
  color: rgb(125, 127, 128);
  /* display: flex; */
}

.intro {
  width: 100%;
  margin: 0 0 -10px 0;
}

.columns {
  display: flex;
  margin: 0 0 20px 0;
}

.columns > .column {
  padding: 0 5px 0 5px;
  width: 30%;
}

.container {
  display: block;
  display: flex;
  flex-flow: row wrap;
  background-color: rgba(125, 127, 128, 0.5);
  padding: 10px;
  border-radius: 5px;
  max-width: 90%;
}

input {
  height: 20px;
  margin: 5px 3px 5px 3px;
  flex: 1;
}
